---
- name: macOS Minimal Setup and Essential CLI Tools
  hosts: localhost
  connection: local
  gather_facts: true
  
  vars:
    cli_tools:
      - zoxide
      - ripgrep
      - neovim
      - fzf
      - lazygit
      - lazydocker
      - docker
      - docker-compose
      - colima
      - k9s
      - chezmoi
      - tmux
      - gh
      - opencode

    brew_casks:
      - ghostty
      - raycast
      - aerospace
      - hammerspoon

  tasks:
    - name: Ensure Xcode Command Line Tools are installed
      ansible.builtin.command: xcode-select --install
      ignore_errors: true 
      tags: [prerequisite, xcode]
      
    - name: Update Homebrew formulae (brew update)
      community.general.homebrew:
        update_homebrew: true
      tags: [prerequisite, brew]

    - name: Upgrade all installed Homebrew packages (brew upgrade)
      community.general.homebrew:
        upgrade_all: true
      tags: [prerequisite, brew]
      
    - name: Install essential command-line packages via Homebrew
      community.general.homebrew:
        name: "{{ item }}"
        state: present
      loop: "{{ cli_tools }}"
      tags: [install, cli]

    - name: Install GUI applications via Homebrew Cask
      community.general.homebrew_cask:
        name: "{{ item }}"
        state: present
      loop: "{{ brew_casks }}"
      tags: [install, cask, gui]

    - name: Ensure Tmux Package Manager (tpm) is cloned
      ansible.builtin.git:
        repo: 'https://github.com/tmux-plugins/tpm'
        # The fact usage has been updated to follow Ansible 2.24+ recommendations
        dest: '{{ ansible_facts["user_dir"] }}/.tmux/plugins/tpm' 
        version: HEAD
        update: yes
      tags: [install, tmux]

    - name: Install OhMyZsh
      ansible.builtin.shell:
        cmd: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
        creates: ~/.oh-my-zsh

    - name: Install ASDF version manager
      ansible.builtin.git:
        repo: 'https://github.com/asdf-vm/asdf.git'
        dest: '{{ ansible_facts["user_dir"] }}/.asdf'
        version: master
        update: yes
      tags: [install, asdf]

    - name: Tidy up Homebrew (run 'brew cleanup')
      ansible.builtin.command: brew cleanup
      changed_when: false
      tags: [cleanup]
